html {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: block;
    background-color: white;
    font-family: 'Merriweather', serif;
}

h1 {
    margin-top: 0;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-family: 'Raleway', sans-serif;
    position: relative;
    font-size: 1rem;
    margin: 1rem 0 3rem 1rem;
}

h2::after {
    display: block;
    content: "";
    height: 3px;
    width: 55px;
    background-color: #629edb;
    position: absolute;
    left: -16px;
    bottom: -24px;
}

p {
    font-family: 'Merriweather', serif;
    font-size: 0.7rem;
    font-weight: 400;
    margin: 1rem;
}

p b {
    font-family: 'Merriweather', serif;
    font-weight: 900;
    color: black;
}

header {
    background-image: linear-gradient(hsla(0 0% 0% / 0.3), hsla(0 0% 0% / 0.3)), url("/du-06---island-petrcoding/images/island-hlavicka.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 1.5rem;
    color: white;
}

.nav-menu {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0 3rem 0;
}

.nav-menu a {
    text-decoration: none;
    color: rgba(168, 165, 165, 0.952);
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 0.6rem;
    border-bottom: 1px solid rgba(168, 165, 165, 0.055);
    padding: 5px;
}

.author {
    font-style: italic;
    color: #f5f5f5bd;
}

img {
    max-width: 100%;
    Height: auto;
}

.img-article {
    margin-top: 1.5rem;
}

.img-source {
    text-align: center;
    font-size: 0.5rem;
    color: rgba(168, 165, 165, 0.952);
    margin: 0 0 2.5rem 0;
}

.img-source a,
.gal-source a {
    color: rgba(168, 165, 165, 0.952);
}

.gal-source {
    text-align: center;
    font-size: 0.5rem;
    color: rgb(109, 106, 106);
    margin: 0.3rem 0 1rem 0;
}

.gal-source b {
    color: rgb(82, 81, 81);
    font-size: 1.2em;
}

footer {
    margin-bottom: 0;
    padding: 1rem 0 0.5rem 1rem;
    background-color: #d8d8d881;
    color: rgba(117, 117, 117, 0.952);
    font-size: 8px;
    line-height: 1.7;
}

footer a {
    color: rgba(117, 117, 117, 0.952);
    font-size: 10px;
}

.lastsource {
    margin-bottom: 0;
}

.package {
    padding-bottom: 1rem;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.473);
}

.txt-outro {
    margin-bottom: 0;
    margin-left: 0;
}

.txt-middle {
    margin-top: 0;
    margin-left: 0;
}

img:hover {
    animation: shake 0.5s;
    animation-iteration-count: 1;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}